@font-face {
    font-family: logo;
    src: url(fonts/DISTROL_.ttf);
}

@font-face {
    font-family: bienvenida;
    src: url(fonts/space.otf);
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    background-color: #EEEEEE;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    height: 100%;
    width: 80%;
    margin: auto;
    background-color: white;
    box-shadow: 0 -5px 3px rgba(0, 0, 0, 0.5)
}

/* Estilo para el menu */

.nav-top {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    background-color: black;
}

.logo {
    height: 100%;
    line-height: 80%;
    vertical-align: middle;
    margin: 0 20px 0 10px;
    flex: 1;
}

.text-logo {
    font-family: logo;
    font-size: 3em;
    letter-spacing: 4px;
    color: yellow;
    cursor: pointer;        
}

.menu-container {
    padding: 0;
    justify-content: flex-start;
    width: 100%;
    flex: 3;
}

.menu {
    margin: 0;
    padding: 0;
    display: table;
    table-layout: fixed;
    list-style: none;
    text-align: center;
    font-size: 1.4em;
    height: 100%;
    width: 100%;
}

.apartado {
    display: table-cell;
    line-height: 80px;
    vertical-align: middle;
    color: white;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.apartado:hover {
    background-color: #002C5C;
}

.menu li>a {
    color: white;
    text-decoration: none;
}

/* Estilo bienvenida */

.container-bienvenida {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.imagen-fondo {
    background-image: url(../images/imagen-bienvenida-calidad.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 2000px;
    height: 2000px;
    animation-duration: 250s;
    animation-name: giro;
    animation-iteration-count: infinite;
    position: relative;
    top: -650px;
    left: -200px;
    z-index: 0;
}

@keyframes giro {
    from {
        transform: rotate(360deg);
    }
}

.mensaje-bienvenida {
    z-index: 1;
    position: relative;
    color: yellow;
    font-family: bienvenida;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
    font-size: 1.5em;
}

/* Estilo para el contenido */

.contenido {
    width: 100%;
    display: flex;
}

section {
    flex-basis: 80%;
    padding: 30px;
}

aside {
    flex-basis: 20%;
    padding: 15px 30px 15px 15px;
    font-size: 1.4em;
}

.titulo-contenido {
    margin: 30px 0 30px 15px;
    border-bottom: 3px solid #002C5C;
    width: 90%;
}

.explorando-espacio img {
    width: 100%;
    height: 100%;
}

.articulos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.explorando-espacio {
    flex-basis: 55%;
    width: 100%;
    height: 400px;
    margin: 15px;
    overflow: hidden;
    border: 1px solid black;
    font-size: 1.2em;
    text-align: center;
    position: relative;
}

.titulo-noticia-foto {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.575);
    color: white;
    height: 35%;
    font-size: 1.4em;
}

.titulo-noticia-foto h3 {
    padding-top: 15px;
    cursor: pointer;
    margin-top: 0;
}

.texto-foto {
    font-size: 0.8em;
    text-align: justify;
}

.noticia-flash {
    flex-basis: 33%;
    margin: 15px;
    padding: 20px;
    overflow: hidden;
    border: 1px solid black;
    font-size: 1.4em;
    text-align: center;
}

.seccion-aside {
    margin-bottom: 60px;
}

.seccion-aside h3 {
    text-decoration: underline;
}

.seccion-aside div a img {
    width: 60px;
    height: 60px;;
}

.seccion-aside img {
    width: 90%;
    height: 150px;
    margin: auto;
}

/* Estilos footer */

footer {
    display: flex;
    margin-top: 50px;
    border-top: 1px solid black;
    font-size: 1.3em;
}

.apartado-foot {
    flex-basis: 50%;
}

.contenido-foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}

.contenido-foot div {
    margin-top: 20px;
}


/* Estilos para los media, responsive */

@media(max-width: 400px) {
    body {
        font-size: 12px;
    }
}

@media(max-width: 605px) {
    .apartado {
        display: table-row;
    }

    .nav-top {
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: inherit;
    }

    .text-logo {
        text-align: center;
    }

    .apartado-foot:last-child {
        display: none;
    }

    .apartado-foot {
        flex-basis: 100%;
    }
}

@media(max-width: 865px) {

    .noticia-flash {
        flex-basis: 80% !important;
        height: 300px;
        height: inherit;
    }

    .imagen-fondo {
        width: 1500px;
        height: 1500px;
        left: -300px;
    }

}

@media(max-width: 1008px) {
    aside {
        display: none;
    }

    section {
        flex-basis: 100%;
    }
}

@media(max-width: 1600px) {
    .container {
        width: 100vw;
        margin: 0;
        padding: 0;
        background-color: white;
        box-sizing: border-box;
    }
}

@media(max-width: 1726px) {
    .explorando-espacio {
        flex-basis: 85%;
    }

    .noticia-flash {
        flex-basis: 40%;
    }
}